<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Товары</h5>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
              <button pButton label="New" icon="pi pi-plus" class="p-button-rounded p-button-success mr-2" (click)="newCustomer()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton label="Интегрировать" style="margin-right: 20px" (click)="productIntegration()"></button>
          <p-fileUpload mode="basic" name="docs[]" [customUpload]="true" (uploadHandler)="loadFile($event)" accept=".xlsx,.pdf,.csv,.xls" label="Import" chooseLabel="Import" class="mr-2 inline-block" [auto]="true"></p-fileUpload>
        </ng-template>
      </p-toolbar>

      <p-table #dt1 [value]="products" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country','representative.name','status']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
              <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="flex justify-content-between align-items-center">
                Наименование
                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
              </div>
            </th>

            <th>
              <div class="flex justify-content-between align-items-center">
                Описания
                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
              </div>
            </th>

            <th>
              <div class="flex justify-content-between align-items-center">
                Баркод
                <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
              </div>
            </th>

            <th>
              <div class="flex justify-content-between align-items-center">
                Цена
                <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Оригинальная цена
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Ед.изм.
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                Статус
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product1>
          <tr>
            <td style="min-width: 12rem;">
              {{product1.shortTitle}}
            </td>
            <td style="min-width: 12rem;">
              {{product1.itemTitle}}
            </td>
            <td style="min-width: 12rem;">
              {{product1.barCode}}
            </td>
            <td style="min-width: 12rem;">
              {{product1.price}}
            </td>
            <td style="min-width: 12rem;">
              {{product1.originalPrice}}
            </td>
            <td style="min-width: 10rem;">
              {{product1.unit}}
            </td>
            <td style="min-width: 12rem;">
              <span class="image-text ml-2">{{product1.status}}</span>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product1)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product1)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No customers found.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="7">Loading customers data. Please wait.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>


    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>


<!--                                                   Product Dialog                 -->


    <p-dialog [(visible)]="productDialog" [style]="{width: '90%'}" header="Product Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">

        <div class="field">
          <label for="status">Организация</label>
          <p-dropdown id="status" [options]="stations" optionLabel="companyName" [(ngModel)]="product2.station" placeholder="Select a Station">
            <ng-template pTemplate="selectedItem">
              <span *ngIf="product2.station">{{product2.station}}</span>
            </ng-template>
            <ng-template let-station pTemplate="status">
              <span>{{station.ipAddress}}</span>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="grid">
          <label>Основные данные</label>
          <div class="col">
            <div class="field">
              <label for="name">Код товара</label>
              <input type="text" pInputText id="name" [(ngModel)]="product2.productCode" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.productCode}"/>
              </div>

            <div class="field">
              <label for="name">Наименования</label>
              <input type="text" pInputText id="barcode" [(ngModel)]="product2.shortTitle" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.shortTitle}"/>
            </div>


            <div class="field">
              <label for="name">Баркод</label>
              <input type="text" pInputText [(ngModel)]="product2.barCode" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.barCode}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !product2.barCode">Barcode is required.</small>
            </div>

            <div class="field">
              <label for="name">Ед.изм.</label>
              <input type="text" pInputText [(ngModel)]="product2.unit" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.unit}"/>
            </div>

            <div class="field">
              <label for="name">Описание</label>
              <input type="text" pInputText [(ngModel)]="product2.itemTitle" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.itemTitle}"/>
            </div>


            <div class="field">
              <label for="name">Sku Код</label>
              <input type="text" pInputText [(ngModel)]="product2.productSku" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.productSku}"/>
            </div>

            <div class="field">
              <label for="name">NFC адрес</label>
              <input type="text" pInputText [(ngModel)]="product2.nfcUrl" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.nfcUrl}"/>
            </div>


          </div>

          <div class="col">

            <div class="field">
              <label for="name">Уровень</label>
              <input type="text" pInputText [(ngModel)]="product2.classLevel" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.classLevel}"/>
             </div>

            <div class="field">
              <label for="name">Категория шаблона</label>
              <input type="text" pInputText [(ngModel)]="product2.attrCategory" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.attrCategory}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !product2.attrCategory">Attr Category is required.</small>
            </div>

            <div class="field">
              <label for="name">Тип шаблона</label>
              <input type="text" pInputText [(ngModel)]="product2.attrName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.attrName}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !product2.attrName">Template type is required.</small>
            </div>

            <div class="field">
              <label for="name">Origin</label>
              <input type="text" pInputText [(ngModel)]="product2.spec" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.spec}"/>
             </div>

            <div class="field">
              <label for="name">QR-код адрес</label>
              <input type="text" pInputText [(ngModel)]="product2.qrCode" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.qrCode}"/>
             </div>
          </div>

        </div>

        <div class="grid">
          <label>Спецификация</label>
          <div class="col">

            <div class="field">
              <label for="name">Спецификация</label>
              <input type="text" pInputText [(ngModel)]="product2.spec" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.spec}"/>
            </div>

            <div class="field">
              <label for="name">Оригинальная цена</label>
              <input type="text" pInputText [(ngModel)]="product2.originalPrice" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.originalPrice}"/>
            </div>

            <div class="field">
              <label for="name">Акция 1</label>
              <input type="text" pInputText [(ngModel)]="product2.stock1" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.stock1}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !product2.stock1">Barcode is required.</small>
            </div>

            <div class="field">
              <label for="name">Акция 3</label>
              <input type="text" pInputText [(ngModel)]="product2.stock3" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.stock3}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !product2.stock3">Barcode is required.</small>
            </div>

          </div>

          <div class="col">

            <div class="field">
              <label for="name">Цена продажи</label>
              <input type="text" pInputText [(ngModel)]="product2.price" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.price}"/>

            </div>

            <div class="field">
              <label for="name">VIP цена</label>
              <input type="text" pInputText [(ngModel)]="product2.memberPrice" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.memberPrice}"/>
              </div>

            <div class="field">
              <label for="name">Акция 2</label>
              <input type="text" pInputText [(ngModel)]="product2.stock2" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product2.stock2}"/>
              </div>

          </div>
        </div>

        <div class="col-12">

            <div class="field">
              <label for="name">Свойство 1</label>
              <input type="text" pInputText [(ngModel)]="product2.custFeature1" required autofocus/>
            </div>

          <div class="field">
            <label for="name">Свойство 2</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature2" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 3</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature3" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 4</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature4" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 5</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature5" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 6</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature6" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 7</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature7" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 8</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature8" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 9</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature9" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 10</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature10" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 11</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature11" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 12</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature12" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 13</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature13" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 14</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature14" required autofocus/>
          </div>

          <div class="field">
            <label for="name">Свойство 15</label>
            <input type="text" pInputText [(ngModel)]="product2.custFeature15" required autofocus/>
          </div>

        </div>

      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
      </ng-template>
    </p-dialog>

<!--    ///////////////////////////////      Import Dialog-->

    <p-dialog [(visible)]="importDialog" [style]="{width: '90%'}" header="Товары на изминения данных" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">

        <p-table #dt1 [value]="importProducts" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country','representative.name','status']" responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
              <button pButton label="Добавить" class="p-button-outlined mb-2" (click)="saveList()"></button>
              <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Статус
                  <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Наименование
                  <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Описание
                  <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Баркод
                  <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
                </div>
              </th>

              <th>
                <div class="flex justify-content-between align-items-center">
                  Цена
                  <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Старая цена
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Ед.изм.
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product1 let-i = "rowIndex">
            <tr>
              <td>
                <div class="flex">
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product1)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteImportProduct(i)"></button>
                </div>
              </td>
              <td style="min-width: 12rem;">
                {{product1.status}}
              </td>
              <td style="min-width: 12rem;">
                {{product1.shortTitle}}
              </td>
              <td style="min-width: 12rem;">
                {{product1.itemTitle}}
              </td>
              <td style="min-width: 12rem;">
                {{product1.barCode}}
              </td>
              <td style="min-width: 12rem;">
                {{product1.price}}
              </td>
              <td style="min-width: 12rem;">
                {{product1.originalPrice}}
              </td>
              <td style="min-width: 12rem;">
                <span [class]="'customer-badge status-' + product1.unit">{{product1.unit}}</span>
              </td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No customers found.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody">
            <tr>
              <td colspan="7">Loading customers data. Please wait.</td>
            </tr>
          </ng-template>
        </p-table>

      </ng-template>
    </p-dialog>



  </div>
</div>
